Advanced XML/Library/books.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" 
		   elementFormDefault="qualified" 
		   targetNamespace="http://library.by/catalog" 
		   xmlns="http://library.by/catalog"
		   xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name="catalog" type="tCatalog">
		<xs:unique name="uniqueID"
				   xmlns:cs="http://library.by/catalog">
			<xs:selector xpath="cs:book"/>
			<xs:field xpath="@id"/>
		</xs:unique>
	</xs:element>
	
	<xs:complexType name="tCatalog">
		<xs:sequence>
			<xs:element type="tBook" maxOccurs="unbounded" name="book" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="tBook">
		<xs:all>
			<xs:element minOccurs="0" name="isbn" type="tIsbn" />
			<xs:element minOccurs="0" name="author" type="xs:string" />
			<xs:element minOccurs="1" name="title" type="xs:string" />
			<xs:element minOccurs="0" name="genre" type="tGenre" />
			<xs:element minOccurs="0" name="publisher" type="xs:string" />
			<xs:element minOccurs="0" name="publish_date" type="xs:date" />
			<xs:element minOccurs="0" name="description" type="xs:string" />
			<xs:element minOccurs="0" name="registration_date" type="xs:date" />
		</xs:all>
		<xs:attribute name="id" type="xs:string" use="required" />
	</xs:complexType>

	<xs:simpleType name="tIsbn">
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{1}-\d{3}-\d{5}-\d{1}" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tGenre">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Computer" />
			<xs:enumeration value="Fantasy" />
			<xs:enumeration value="Romance" />
			<xs:enumeration value="Horror" />
			<xs:enumeration value="Science Fiction" />
		</xs:restriction>
	</xs:simpleType>
	
</xs:schema>